
*.diff
*.rej
*.orig
local.properties
/bin
/gen
/libs/aFileChooser/bin
/libs/aFileChooser/gen
/libs/ActionBarSherlock/bin
/libs/ActionBarSherlock/gen
/libs/ViewPagerIndicator/bin
/libs/ViewPagerIndicator/gen
/libs/drag-sort-listview/bin
/libs/drag-sort-listview/gen
.DS_STORE
